img {
    width: 100%;
}

body{
    font-family: Arial;
    line-height: 25px;
    background-color: darkgoldenrod;
    margin: 0px;
}

.column{
    width: 600px;
    margin: 40px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
}

h1{
    font-size: 60px;
    font-family: Georgia;
    padding: 15px 0px 15px 0px;
    
}

h1,h2 {
    text-shadow: 0px 0px 20px  #99bd00;
    color: green;
}

p{
    background-color: lawngreen;
    padding: 20px;
}
